.marquee-container {
  width: 100%;
  overflow: hidden;
}

.marquee-item {
  display: inline-block;
  white-space: nowrap;
  margin-right: 20px; /* Adjust the margin as needed */
}

/* Optionally add animation for a smoother scrolling effect */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-item {
  animation: marquee 10s linear infinite;
}
